[Unit]
Description=Supervisor is a client/server system that allows its users to monitor and control a number of processes on UNIX-like operating systems.

[Service]
Type=oneshot
ExecStart=/usr/bin/supervisord
ExecStop=/usr/bin/supervisorctl shutdown
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
